Repository yashaka/selene, pull requests merged in 2021-01, with the labels that each got.

#247 #234 clear warnings in current tests
  tests/adhoc/straightforward_style_test.py
Labels: code coverage, tests

#243 run code coverage step even if not all tests passed
  .github/workflows/tests.yml
Labels: ci

#245 #244 replace readme badge build status with tests status
  README.md
Labels: ci

#267 #264 pycodestyle ci checker
  .github/workflows/linters.yml
  docs/conf.py
  selene/__init__.py
  selene/api/base/__init__.py
  selene/browsers.py
  selene/common/helpers.py
  selene/core/__init__.py
  selene/core/command.py
  selene/core/entity.py
  selene/core/exceptions.py
  selene/core/wait.py
  selene/support/__init__.py
  selene/support/by.py
  selene/support/conditions/be.py
  selene/support/jquery_style_selectors.py
  selene/support/shared/config.py
  selene/support/shared/jquery_style.py
  setup.py
  tests/acceptance/__init__.py
  tests/acceptance/shared_browser/__init__.py
  tests/adhoc/__init__.py
  tests/adhoc/straightforward_style_test.py
  tests/adhoc/test_anything.py
  tests/examples/test_matching.py
  tests/examples/test_wait_until.py
  tests/integration/collection__indexed_element__waiting_search_on_actions_like_click_test.py
  tests/integration/collection__inner_collection_lazy_search_test.py
  tests/integration/element__waiting_search_on_actions_like_click_test.py
  tests/unit/__init__.py
  tests/unit/common/__init__.py
  tests/unit/common/test_predicate.py
Labels: ci

#270 #260 Code conventions: pycodestyle rules.
  CONTRIBUTING.md
Labels: documentation

#269 #261 add pylint github jobs - conventional and full-report.
  .github/workflows/linters.yml
  .pylint-disabled-rules
  .pylintrc
Labels: ci

#274 add tests shared browser reopen on fail for issue #53
  tests/acceptance/shared_browser/browser_management_test.py
Labels: tests

#276 add tests for shared browser hold_browser_open config
  tests/acceptance/shared_browser/hold_open_test.py
Labels: code coverage, tests

#278 migrate-tests-to-v2: order_test moved to tests;
  tests/examples/__init__.py
  tests/examples/widgets_aka_components_page_objects_style_for_spa_apps/__init__.py
  tests/examples/widgets_aka_components_page_objects_style_for_spa_apps/model/__init__.py
  tests/examples/widgets_aka_components_page_objects_style_for_spa_apps/model/widgets.py
  tests/examples/widgets_aka_components_page_objects_style_for_spa_apps/order_test.py
  tests/integration/shared_browser/browser__config__hold_browser_open__test.py
  tests/resources/orderapp/app.js
  tests/resources/orderapp/jquery.min.js
  tests/resources/orderapp/order.html
Labels: code coverage, tests

#280 fix bug in selene v2.0.0a35: `should_not` didn't use `not_` condition, now uses
  selene/core/entity.py
Labels: bug

#279 migrate-tests-to-v2: auto_start_test.py
  tests_from_past/integration/auto_start_test.py
Labels: tests

#281 Coverage: condition have.text, have.no.text, have.texts, have.no.texts and exception messages for each #250
  tests/integration/condition__collection__have_texts_test.py
Labels: code coverage, tests
